@tailwind base;
@tailwind components;
@tailwind utilities;

::-moz-selection {
    /* Code for Firefox */
    color: var(--background);
    background: var(--select);
}

::selection {
    color: var(--background);
    background: var(--select);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #151617;
        --select: #ededed;
        --foreground: 0, 0%, 93%;
        --green: 143 77% 29%;
        --blue: 216 77% 29%;
        --red: 335 77% 29%;
        --gray: 240 7% 28%;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: hsl(var(--foreground));
    background: var(--background);
}
