@tailwind base;
@tailwind components;
@tailwind utilities;

::-moz-selection {
    /* Code for Firefox */
    color: var(--background);
    background: var(--select);
}

::selection {
    color: var(--background);
    background: var(--select);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --select: #ededed;
        --primary: 142 71% 45%; /* tw-green-500 */
    }
}

body {
    color: var(--primary);
    background: var(--background);
}
